@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em; 
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1); 
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px; /*espaço de 50px para cima*/
    /*text-transform: uppercase;*/ /*texto h1 letra maiúscula*/
    font-variant: small-caps; /*letras em maiúscula com iniciais em destaque*/
    font-family: var(--fonte2);
    font-size: 10vw; /* 10% da largura*/
}

header > p {
    padding-bottom: 50px; /*espaço 50px para baixo*/
}

header a, footer a {
    color: white; /*link na cor branca*/
    text-decoration: none; /*retirar o sublinhado*/
    font-weight: bolder; /*negrito*/
}

header a:hover, footer a:hover {
    text-decoration: underline; /*aparece linha branca qnd mouse passa*/   
}

section {
    padding-top: 10vh; /*10% altura da tela topo*/
    padding-bottom: 10vh; /*10% altura da tela inferior*/ 
    line-height: 2em; /*espaçamento emtre as linhas*/
    padding-left: 30px; /*espaçamento a esquerda */
    font-family: var(--fonte3);
    font-size: 3.5vw; /* 5% da viewport*/
}   

 section.normal {
    background-color: white;
    color: black;
} 

    section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
} 

    section.imagem > p {
        display: inline-block; /* caixa da largura do conteúdo*/
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.253);
    }

footer {
    background-color: black; /*fundo preto*/
    color: white; /*fonte branca*/
    text-align: center; /*texto centralizado*/
    padding: 10px; /*espaçamento sup. inf. 10px*/
}
